@import 'transitions';
@import 'icons';

html.dark {
  color-scheme: dark;
}

::selection {
  @apply bg-accent-light-hover
}

.dark ::selection {
  background-color: #7c3b00;
}

body {
  @apply bg-white dark:bg-black dark:text-white;
  -webkit-tap-highlight-color: transparent;
}

.container {
  @apply pt-[40px] pb-[30px] xl:pt-[80px] lg:pb-[70px]
}

.app-btn {
  @apply py-3 px-8 text-white bg-black dark:text-black dark:bg-white rounded-full text-sm lg:text-base transition-all
}

.app-btn:hover {
  @apply border-accent text-white bg-accent
}

.app-btn-hollow {
  @apply py-3 px-8 border border-black dark:border-white rounded-full text-sm lg:text-base transition-all
}

.app-btn-hollow:hover {
  @apply border-accent text-accent
}

a {
  @apply transition-all
}

a:hover {
  @apply text-accent;
}

.router-link-active {
  @apply text-accent-active;
}

