@import 'transitions';
@import 'icons';

body {
  background: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 30px;
  color: #838C95;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

html.dark {
  color-scheme: dark;
}

::selection {
  @apply bg-accent-light
}

.dark ::selection {
  background-color: #7c3b00;
}

.container {
  &.education, &.work, &.skills {
    @apply py-12 border-t border-gray-200
  }
}

a, a:visited {
  text-decoration: none;
  outline: 0;
  transition: color .3s ease-in-out;
}

a:hover {
  @apply text-accent;
}
