name: Deploy to GitHub Pages
on:
  workflow_dispatch:
    branches:
      - master
env:
  NODE-ENV: production
jobs:
  install:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: install deps
        run: npm ci
      - name: build app
        run: npm run generate
      - name: Deploy
        run: |
          cd dist
          git config --global user.email "CI@foster.com"
          git config --global user.name "CI"
          git init
          git add -A
          git commit -m 'deploy'
          git push -f https://fos7er.github.io:${{ secrets.GH_TOKEN }}@github.com/fos7er/vue-modern-resume.git master:gh-pages
        shell: bash
